[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux"]
	path = tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux.git
